<footer class="bg-primary mt-5">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div
          class="dReveal col-md-6 col-lg-3 d-flex align-items-center justify-content-start flex-column pb-3"
        >
          <div class="w-100 mb-3">
            <h1 class="text-warning">Newa Home</h1>
          </div>
          <div class="social-icons w-100 d-flex align-items-center fs-2 gap-4">
            <a href="/about" class="text-warning">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="/about" class="text-warning">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="/about" class="text-warning">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="/about" class="text-warning">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>

        <div class="dReveal col-md-6 col-lg-3">
          <div class="px-4">
            <h5 class="pb-2 mb-3 fw-bold text-warning">الدوله</h5>
            <ul class="list-unstyled">
              <li class="mb-3">
                <a href="#" class="text-decoration-none hvr-grow text-white">مصر
                </a>
              </li>
              <li class="mb-3">
                <a
                  href="#"
                  class="text-decoration-none hvr-grow text-white"
                >الهند
                </a>
              </li>
              <li class="mb-3">
                <a
                  href="#"
                  class="text-decoration-none hvr-grow text-white"
                >السودان
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="dReveal col-md-6 col-lg-3">
          <div class="footer-links px-4">
            <h5 class="pb-2 mb-3 fw-bold text-warning">تواصل معنا </h5>
            <ul class="list-unstyled">
              <li class="mb-3">
                <a
                  href="#"
                  class="text-decoration-none hvr-grow text-white"
                >فيسبوك
                </a>
              </li>
              <li class="mb-3">
                <a
                  href="#"
                  class="text-decoration-none hvr-grow text-white"
                >يوتيوب</a>
              </li>
              <li class="mb-3">
                <a
                  href="#"
                  class="text-decoration-none hvr-grow text-white"
                >سكايب</a>
              </li>

            </ul>
          </div>
        </div>

        <div class="dReveal col-md-6 col-lg-3">
          <div class="footer-links px-4">
            <h5 class="pb-2 mb-3 fw-bold text-warning footer-title">
              اخر الاخبار
            </h5>
            <ul class="list-unstyled">
              <li class="mb-3">
                <a href="#" class="text-decoration-none text-white hvr-grow">
                  اخر الاخبار
                </a>
              </li>
              <li class="mb-3">
                <a href="#" class="text-decoration-none text-white hvr-grow">
                  اخر الاخبار</a>
              </li>
              <li class="mb-3">
                <a href="#" class="text-decoration-none text-white hvr-grow">
                  اخر الاخبار</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-4">
    <div class="container">
      <p class="text-white mb-0 text-center">
        Copyright&copy; 2022 News Home | All Rights Reserved
      </p>
    </div>
  </div>

  <div class="position-fixed chat-holder">
    <a
      href="https://wa.me/15551234567"
      target="_blank"
      class="text-white whatsapp"
    >
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a
      href="https://wa.me/15551234567"
      target="_blank"
      class="text-white instgram"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
</footer>