<header
  class="container-fluid position-fixed bg-white top-0"
  style="
    z-index: 9;
"
>
  <div class="container">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white row justify-content-between"
    >
      <a
        class="col-6 col-lg-3 navbar-brand text-primary text-uppercase"
        href="#"
      ><h1 class="text-primary">أخبارك</h1></a>
      <button
        class="navbar-toggler col-md-1 col-2 m-1 fs-6"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end col-9"
        id="navbarText"
      >
        <ul
          class="navbar-nav mr-auto fw-semibold align-items-start justify-content-evenly"
        >

          <li class="nav-item mx-1">
            <a class="nav-link" href="/">الرئيسية</a>

          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/about">الدوله</a>

          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/about">الاقدم</a>

          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/about">اخر الاخبار</a>

          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/about">عنا</a>

          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>