<html lang="en" dir="rtl">

{{>head}}

<body class="d-flex justify-content-between flex-column p-0 m-0 overflow-hidden">


<div class="align-items-center container d-flex flex-column justify-content-between pt-3 gap-1">
  <h1 class="text-capitalize text-center">
 الصفحة التى تحاول الوصول إليها <span class="text-danger">غير موجودة</span>
  </h1>
    <a  class="btn btn-primary mt-5" href="/">عودة للصفحة الرئيسية
    </a>
  <img src="images/404.gif" alt="" class="mw-100">
</div>

  {{>mainScripts}}
</body>

</html>