<html lang="en" dir="rtl">

{{>head}}

<body class="d-flex justify-content-between flex-column">
  {{>header}}

<div class="container align-items-center container d-flex flex-column justify-content-between pt-5 mt-5">
  <h1 class="text-capitalize">
  this page is not found
  </h1>
</div>
  {{>footer}}
  {{>mainScripts}}
</body>

</html>