<html lang="en" dir="rtl">

{{>head}}

<body class="d-flex justify-content-between flex-column p-0 m-0">

  
<div class="align-items-center container d-flex flex-column justify-content-between pt-3">
  <h1 class="text-capitalize ">
    الصفحة تحت الانشاء
  </h1>
    <a  class="btn btn-primary mt-5" href="/">عودة للصفحة الرئيسية
    </a>
  <img src="images/under-construction.gif" alt="" class="mw-100">
</div>

  {{>mainScripts}}
</body>

</html>